@import url('https://fonts.googleapis.com/css2?family=Muli:wght@700&display=swap');

:root {
  --blueline: #3498db;
  --whiteline: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: cornsilk;
  font-family: 'Muli', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container {
  text-align: center;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 300px;
}

.progress-container::before {
  content: '';
  background-color: var(--whiteline);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 5px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--blueline);
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}
.circle {
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--whiteline);
  transition: 0.4s ease;
}
.circle.active {
  border-color: var(--blueline);
}
.btn {
  background-color: var(--blueline);
  color: white;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 10px;
  font-size: 14px;
  /* transition: box-shadow 0.3s ease; */
}
.btn:active {
  transform: scale(0.98);
}
:focus {
  outline: none;
  box-shadow: 0 0 0 3px hsla(220, 100%, 50%, 80%);
  transition: box-shadow 0.5s ease;
}
.btn:disabled {
  background-color: var(--whiteline);
  cursor: not-allowed;
}
